div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: blue;
    background-color: #ffff99;
    text-align: center;
}

nav {
    float: left;
    max-width: 140px;
    margin: 0;
    padding: 1em;
}

nav ul {
	font-family: "Comic Sans MS", cursive, sans-serif;
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
	font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 150px;
    border-left: 1px solid blue;
    padding: 1em;
    overflow: hidden;
	text-align: center;
}

article h1 {
	color: blue;
}

article p {
	color: red;
}
/*
header {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
    background-color: yellow;
    text-align: center;
}

aside {
	background-color: #cccccc;
	color: "#000000"
	width: 50%;
	float: left;
}

nav {
	margin: 2%;
	background-color: #ffffff;
	padding-top: .5%;
}

ul {
	padding: 2%;
	list-style: none;
}

nav ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
}

nav ul li a {
	display: inline-block;
	padding: 3%;
	color: #333;
	text-decoration: none;
	background-color: aqua;
	font-size: 1.75em;
	
}

nav ul li a: hover {
	color: #fff;
	background: #939393;
}

#content {
	background-color: #a1a8e2;
	width: 90%;
	display: block;
}

.nosee {
	display: block;
	float: right;
	width: 25%;
	margin-right: 10%;
}

#main {
	display: none;
	width: 30%;
	background-color: #b4bbd0;
	font-size: 50%;
	margin-left: 2%;
}

#register {
	display: block;
}
*/